# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.garbanzo.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Program Files\super-garbanzo-64\garbanzo\.idea\.idea.garbanzo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
